@import 'tailwindcss';

@theme {
  --color-main1: #e6fcee;
  --color-main2: #1db856;
}
:root {
  --color-background: white;
  --color-foreground: black;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.position {
  color: var(--main-color-1);
}
