@import 'tailwindcss';

:root {
  --background-color: white;
  --foreground-color: black;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: Arial, Helvetica, sans-serif;
}
