@import 'tailwindcss';

:root {
  --background-color: white;
  --foreground-color: black;
  --main-color-1: '#E6FCEE';
  --main-color-2: '#1DB856';
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: Arial, Helvetica, sans-serif;
}

.position {
  color: var(--main-color-1);
}
